@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

body {
  background-color: #36384d;
}
#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 3rem;
  font-weight: normal;
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  height: 100vh;
  background-color: #36384d;
  display: flex;
  place-items: center;
  justify-content: center;
}

/* colors  */
.grey {
  color: #949494;
}
.blue-800 {
  color: #242742;
}
.blue-700 {
  color:#36384D;
}
.red {
  color: #FF6155;
}
.gradient-4 {
  background: linear-gradient(90deg, #FF6155 0%, #FF8B00 100%);
}

/* Typygraphy */
.text-preset-1{
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 100%;
  letter-spacing: 0;
}
.text-preset-1-mobile{
  font-size: 5.5rem;
}
.text-preset-2-bold{
  font-size: 1rem;
  font-weight: bold;
  line-height: 150%;
  letter-spacing: 0;
}
.text-preset-2{
  font-size: 1rem;
  font-weight: normal;
  line-height: 150%;
  letter-spacing: 0;
}
.text-preset-3{
  font-size: 0.75rem;
  font-weight: bold;
  line-height: 150%;
  letter-spacing: 0;
}

@media (max-width: 768px) {
  #app {
    height: initial;
  }
}
@media (max-width: 450px) {
  body {
    background-color: #fff;
  }
  #app {
    padding: 0;
    background-color: #fff;
  }
  #app .home {
    border-radius: 0;
    padding: 0;
  }
}



